<div class="pagina-login">
  <div class="login-card">
    <button class="voltar" (click)="voltar()">← Voltar</button>

    <h2>Entrar</h2>

    <form [formGroup]="form" (ngSubmit)="onLogin()" class="form-login">
      <label for="email">E-mail:</label>
      <input id="email" formControlName="email" placeholder="seuemail@email.com" />

      <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid" class="erro">
        <small *ngIf="form.get('email')?.errors?.['required']">E-mail é obrigatório.</small>
        <small *ngIf="form.get('email')?.errors?.['email']">E-mail inválido.</small>
      </div>

      <label for="senha">Senha:</label>
      <input id="senha" type="password" formControlName="senha" placeholder="Digite sua senha" />

      <div *ngIf="form.get('senha')?.touched && form.get('senha')?.invalid" class="erro">
        <small *ngIf="form.get('senha')?.errors?.['required']">Senha é obrigatória.</small>
      </div>

      <a href="#" class="esqueci-senha">Esqueci minha senha</a>

      <button type="submit" class="botao-entrar" [disabled]="form.invalid">Entrar</button>
    </form>

    <p class="cadastro-texto">
      Não tem uma conta?
      <a routerLink="/cadastro" class="cadastro-btn">Cadastre agora</a>
    </p>
  </div>
</div>
